# Python basics
## Introduction
some "text" text, that we can ***hightlight***
- point 1
- point 2
- point 3

In [5]:
print ("Hello world!")

Hello world!

In [6]:
# This is a comment
print ("something")

something

In [7]:
print("Hello world")

Hello world

In [8]:
name = "lovelace"

In [9]:
print (name)

lovelace

In [10]:
name

'lovelace'

In [11]:
car="me"

In [12]:
car

'me'

In [13]:
age=73

In [14]:
size=1.234

In [15]:
age

73

In [16]:
know_math=True
likes-gardening = False

SyntaxError: cannot assign to operator (<ipython-input-16-af2e5530b1de>, line 2)

In [17]:
know_math=True
likes_gardening = False

In [18]:
type(name)

str

datatypes of "age""size" and "gardening"

In [19]:
type(age)

int

In [20]:
type(size)

float

In [21]:
type(likes_gardening)

bool

In [22]:
5+5

10

In [23]:
100*age

7300

In [24]:
name*10

'lovelacelovelacelovelacelovelacelovelacelovelacelovelacelovelacelovelacelovelace'

In [26]:
name+str(10)

'lovelace10'

In [25]:
name+10

TypeError: can only concatenate str (not "int") to str

In [27]:
size/age

0.016904109589041094

In [28]:
len (name)

8

In [29]:
name.upper()

'LOVELACE'

In [30]:
name_uppercase=name.upper()

In [31]:
print(name_uppercase)

LOVELACE

In [32]:
upper(name)

NameError: name 'upper' is not defined

In [33]:
name.lower()

'lovelace'

In [34]:
name_lowercase=name.lower()

In [36]:
print (name_lowercase)

lovelace

In [40]:
name.count?

In [38]:
name.replace("lace", "is everywhere")

'loveis everywhere'

In [41]:
count =name.upper().count("e")

In [42]:
print (count)

0

In [43]:
# List
names = ["Lovelace", "Darwin","Curie","Hawking"]

In [44]:
names [2]

'Curie'

In [45]:
names [0]

'Lovelace'

In [46]:
names

['Lovelace', 'Darwin', 'Curie', 'Hawking']

In [47]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [48]:
names[3:]

['Hawking']

In [49]:
names[-1:2]

[]

In [50]:
names[-2]

'Curie'

In [51]:
names.pop(2)

'Curie'

In [52]:
names

['Lovelace', 'Darwin', 'Hawking']

In [53]:
names.remove("Darwin")

In [54]:
names

['Lovelace', 'Hawking']

In [60]:
authors_and_birth_year={"lovelace":1882, 
                        "Darwin":[1809,1800],
                        "Hawking":1942,
                        "Poether":1904}

In [56]:
authors_and_birth_year

{'lovelace': 1882, 'Darwin': 1809, 'Hawking': 1942, 'Poether': 1904}

In [61]:
authors_and_birth_year["Darwin"]

[1809, 1800]

In [62]:
type(authors_and_birth_year["Darwin"])

list

In [65]:
names=["Lovelace", "Hawking", "Noether"]

In [68]:
for person in names:
    print(person+" did awesome stuff")
    print(".........")

Lovelace did awesome stuff
.........
Hawking did awesome stuff
.........
Noether did awesome stuff
.........

# Conditionals

In [74]:
temp=15
if temp>=15:
    print("It´s hot")
elif temp>=10:
    print("warm")
elif temp>=8:
    print("mild")
else:
    print("it is cold")

It´s hot

# Pandas_introduction

In [75]:
import urllib.request
import pandas as pd